/* Tests list */

#flaky .testFailedInPart {
  display: none;
}

.env {
  width: 40%;
}

.action-bar .env {
  padding-left: 0.8em;
}

/* Start button */

#start-button {
  margin: 0.5em 0 3em 0;
}

#flaky .buttonWrapper {
  width: 96px;
}

#flaky .buttonWrapper .btn_main {
  width: 80px;
}

/* Test details */

.test-details {
  padding: 0.5em 0 1em 2.3em;
  background: #f5f5f5;
}

.test-details table {
  width: 100%;
  border-collapse: collapse;
}

.test-details table.modificationBuilds {
  width: 80%;
  margin: 0.4em 0 0 0;
}

.lt1200 .test-details table.modificationBuilds {
  width: 100%;
}

.test-details .reason {
  margin-bottom: 1.5em;
}

.test-details .stats {
  margin-bottom: 0.4em;
}

.test-details table.modificationBuilds tr {
  border: none;
}

.test-details table.modificationBuilds td {
  padding-top: 2px;
  padding-bottom: 1px;
  border: none;
  vertical-align: top;
  line-height: 1em;
}

.test-details table.modificationBuilds td.fail {
  padding-left: 0;
  color: red;
  white-space: nowrap;
}

.test-details table.modificationBuilds td.success {
  padding-left: 0;
  color: green;
  white-space: nowrap;
}

.test-details table.modificationBuilds .bt {
  width: 20%;
  white-space: nowrap;
}

.test-details table.modificationBuilds .build {
  width: 70%;
}

.test-details td.block {
  width: 30%;
  vertical-align: top;
  padding-right: 0.5em;
}

.test-details div.block {
  background: #E3E9EF;
  padding: 2px;
}

.test-details .block .title {
  padding: 0 5px;
}

.test-details .block .content {
  background: #fff;
  padding: 5px;
}

.test-details .block .content td {
  white-space: nowrap;
}

.test-details .block .zero {
  opacity: 0.5;

  -webkit-transition: opacity 0.1s linear;
  -moz-transition: opacity 0.1s linear;
  -ms-transition: opacity 0.1s linear;
  -o-transition: opacity 0.1s linear;
  transition: opacity 0.1s linear;
}

.test-details .block .zero:hover {
  opacity: 1.0;
}

.test-details .block .procent {
  width: 3em;
  text-align: right;
  padding-left: 1em;
}

/* Settings dialog */

#settingsFormDialog {
  width: 30em;
}

#dialog-contents table {
  width: 100%;
}

#dialog-contents td {
  vertical-align: top;
}

#dialog-contents {
  min-height: 11em;
  padding: 0.5em;
}

#dialog-contents td.head {
  width: 10em;
}

#excludeBuildTypes {
  width: 100%;
  height: 10em;
}

#analyseTimePeriodDays {
  width: 100%;
}
