.testFailedInPart {
  display: none;
}

.flaky-details {
  width: 50%;
}

.action-bar .flaky-details {
  padding-left: 0.8em;
}

.test-details {
  margin: 1em 0;
}

.test-details table {
  width: 100%;
  border-collapse: collapse;
}

.test-details td.block {
  width: 30%;
  vertical-align: top;
  padding-right: 0.5em;
}

.test-details div.block {
  background: #E3E9EF;
  padding: 2px;
}

.test-details .block .title {
  padding: 0 5px;
}

.test-details .block .content {
  background: #fff;
  padding: 5px;
}

.test-details .block .procent {
  width: 3em;
  text-align: right;
  padding-right: .5em;
}
